/imp/
/sim/
/test/
/np_prj
**/*.qip
**/*.ppf
**/*.bk
**/*.bak
**/*.tmp
**/*.ver
**/*.asv
/csm/ldpc_sim/Debug/
/csm/ldpc_sim/*.sdf
/csm/ldpc_sim/*.sln
/csm/ldpc_sim/*.suo
/csm/ldpc_sim/*.vcxproj
/csm/ldpc_sim/*.filters
/csm/ldpc_sim/*.opensdf
